<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lab Project</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(jokes)}">
        <h2>Joke List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Joke</th>
<!--                <th>View</th>-->
<!--                <th>Edit</th>-->
<!--                <th>Delete</th>-->
            </tr>
            <tr th:each="joke : ${jokes}">
                <td th:text="${joke.getId()}">>ID</td>
                <td th:text="${joke.getDate()}">Date</td>
                <td th:text="${joke.getValue()}">Joke</td>
<!--                <td><a th:href="${'/joke/' + joke.id}">View</a></td> &ndash;&gt;-->
<!--                <td><a th:href="${'/joke/edit/' + joke.id}">Edit</a></td>-->
<!--                <td><a th:href="${'/joke/delete/' + joke.id}">Delete</a></td>-->
            </tr>
        </table>

    </div>
</div>

</body>
</html>